<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="ApiRewrite" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="/api.asp?__path={R:1}" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <authentication>
                <windowsAuthentication enabled="true" />
                <anonymousAuthentication enabled="false" />
            </authentication>
            <requestFiltering>
                <denyUrlSequences>
                    <add sequence="data/" />
                    <add sequence="config.json" />
                </denyUrlSequences>
                <fileExtensions>
                    <add fileExtension=".json" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
